/* MathKeyboard.css */

.keyboard-container {
    display: flex;
    justify-content: center; /* Центрируем клавиатуру по горизонтали */
    width: 100%;
    height: 30%; /* Высота клавиатуры */
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.keyboard-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
}

.keyboard-button {
    flex: 1 1 10%; /* Кнопки равномерно распределяются по ширине */
    margin: 2px;
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Включаем padding и border в размеры кнопки */
    text-align: center; /* Центрируем текст в кнопках */
}


.button {
    cursor: pointer;
}
