/* Общие стили для кнопок */
.custom-button {
    padding: 10px 20px; /* Отступы внутри кнопки */
    height:50px;
    width: 100px;
    font-size: 16px; /* Размер шрифта */
    background-color: #d4b785; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 8px; /* Радиус скругления углов */
    cursor: pointer; /* Изменение курсора при наведении */
    margin-right: 10px; /* Отступ справа */
}

.custom-button:hover {
    background-color: #7cd585; /* Изменение цвета фона при наведении */
}

.custom-button:active {
    background-color: #d990e0;
}/* Изменение цвета фона при активации (нажатии) */